@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('./reset.css');

* {
	font-family: 'PP Pangram Sans Rounded';
	scroll-behavior: smooth;
	text-rendering: geometricPrecision;
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--bg: #fff;
	--fg: #000;
	--fg-secondary: #2e2e2e;
	--fg-gray: #bbb;
	--bg-gray: #e3e3e3;
	--primary: #2461ff;
	--disabled-bg: #f2f1f6;
	--disabled-fg: #919191;
	--red: #f14444;
	--gradient: radial-gradient(circle at center, var(--primary), rgba(154, 91, 255, 0.87) 60%);
	--gradient-size: 400% 400%;
	--gradient-animation: gradient 8s ease-in-out infinite;

	--toastContainerLeft: 1.5rem;
	--toastContainerRight: 1.5rem;

	--toastBackground: var(--bg);
	--toastBoxShadow: 0px 4px 14px 0px #0000001f;
	--toastColor: var(--fg);
	--toastWidth: 100%;
	--toastBorderRadius: 20px;
	--toastPadding: 10px;
	--toastBarBackground: var(--primary);
}

input {
	-webkit-user-select: text;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	font-family: 'PP Pangram Sans Rounded';
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.21px;
}

@font-face {
	font-family: 'PP Pangram Sans Rounded';
	src: url('$lib/assets/fonts/PPPangramSansRounded-CompactRegular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PP Pangram Sans Rounded';
	src: url('$lib/assets/fonts/PPPangramSansRounded-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'PP Pangram Sans Rounded';
	src: url('$lib/assets/fonts/PPPangramSansRounded-Semibold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'PP Pangram Sans Rounded';
	src: url('$lib/assets/fonts/PPPangramSansRounded-Bold.otf');
	font-weight: 700;
}

html,
body {
	height: 100%;
	margin: 0;
	overflow-x: clip;
	transition: height 0.3s ease-in-out;
}

#app {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'main';
}

/* main {
	overflow-x: clip;
	overflow-y: scroll;
	grid-area: main;
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 1;
} */

h1 {
	font-family: 'PP Pangram Sans Rounded';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 24px */
	letter-spacing: -0.36px;
}

h2 {
	font-family: 'PP Pangram Sans Rounded';
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 18px */
	letter-spacing: -0.27px;
}

/* You can do the same for links */
a {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p,
div {
	font-family: 'PP Pangram Sans Rounded';
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2; /* 16.8px */
	letter-spacing: -0.56px;
}

@keyframes gradient {
	0% {
		background-position: 25% 25%;
	}
	25% {
		background-position: 75% 25%;
	}
	50% {
		background-position: 75% 75%;
	}
	75% {
		background-position: 25% 75%;
	}
	100% {
		background-position: 25% 25%;
	}
}
